<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>О сайте</title>

    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/components.css">
</head>

<body>
    <div class="page">
        <main>
            <nav class="breadcrumbs">
                <a href="/">Главная</a>
            </nav>
            <p> Страница на доработке</p>
        </main>
        {% include site-footer.html %}
    </div>
</body>

</html>